@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&family=Playpen+Sans&family=Raleway:wght@300&family=Roboto:wght@300&family=Young+Serif&display=swap');

/* font-family: 'Comic Neue', cursive;
font-family: 'Playpen Sans', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Young Serif', serif; */

// Colores que estoy usando

$color1: darkgrey;
$color2: goldenrod;
$color3: darkorange;
$color4: black;
$color5: white;
$color7: darkgoldenrod;

// Tamaños de fuentes

$fontsizeheader: 22px;
$fontsizetitle: 40px;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: $color2;
    font-size: $fontsizeheader;
    h1{
        font-size: 30px;
        color: $color5;
        span{color: $color4;}
    }
}

// .navbar{
//     background-color: $color2;
//     font-size: 22px;
// }

.nav-link{
    color: black !important;
}

.textarea{
    width: 300px;
    height: 150px;
    resize: none;
    margin-left: 10px;
}

main{
    background-color: $color1;
}

p{
    margin-bottom: 0;
    padding: 20px;
}

.jumbotron{
    background-image: url(../multimedia/fondo.jpg);
    background-size: cover;
    background-position: center;
    height: 200px;
    padding-top: 15px;
}


.title{
    text-align: center;
    font-size: $fontsizetitle;
    text-decoration: underline;
    font-family: 'Young Serif', serif;
    color: $color3;
    margin-top: 40px;
    text-shadow: 0, 0;
}


h2 {
    animation: moverVolvertitulo 1.7s ease-in-out; /* Aplica la animación */
    animation-iteration-count: 1;
}

@keyframes moverVolvertitulo {
    0% {
        transform: translate(500px, 0);
    }
    50% {
        transform: translate(-500px, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}

.jumbotron .subtit{
    text-align: center;
    font-family: 'Young Serif', serif;
    color: $color3;
    margin-top: 15px;
}

.subtit{
    padding: 20px;
    text-decoration: underline;
    text-align: center;
    animation: moverVolverSubtit 1.9s ease-in-out; /* Aplica la animación */
    animation-iteration-count: 1;
}

@keyframes moverVolverSubtit {
    0% {
        transform: translate(-500px, 0);
    }
    50% {
        transform: translate(500px, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}

.carousel{
    width: 100%;
    position: relative;
    display: flex;
    margin: auto;
}

.carousel img{
    width: 100%;
}

.carousel-control-prev, .carousel-control-next{
    background-color: $color7;
}


.carousel-indicators button{
    background-color: $color4;
    height: 20px;
}

.subtit-catal{
    padding: 20px;
    text-decoration: underline;
    text-align: center;
    font-size: 35px;
    animation: moverVolverSubtit 1.9s ease-in-out; /* Aplica la animación */
    animation-iteration-count: 1;
}

.contenedor{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 300px);
    grid-gap: 1px;
    margin-top: 3px;
}

.consola{
    border: $color4 2px solid;
    background-size: cover;
    background-position: center;
}

.consolas-texto{
    color: $color4;
    background-color: $color2;
    .title-consola{
        padding: 12px;
    }
    .stats-title{
        font-size: 18px;
        padding-left: 12px;
        text-decoration: underline;
    }
    .lista-consola{
        font-size: 14px;
    }
    .precio-compra-conso{
        padding-left: 12px;
        span{
            font-size: 25px;
        }
        button{
            border-radius: 7px;
            background-color: $color1;
            border-radius: 5px;
            transition: background-color 0.3s ease;
            }
            button:hover {
                background-color: rgb(129, 128, 128);
            }
    }
}



@media (min-width:410px){
    .lista-consola{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}


.button{
    padding: 8px;
    margin-left: 10px;
    border: 2px solid;
}

button:hover {
    background-color: rgb(129, 128, 128);
}

@for $i from 1 through 3{
    .consola#{$i} {
        background-image: url(../multimedia/consola#{$i}.jpg);
    }
}

.text-quienes{
    font-size: large;
}


.hacemos-title{
    padding: 20px;
    text-decoration: underline;
    h4{
        font-size: 22px;
    } 
}

.hacemos-text{
    font-size: large;
}

.especi{
    font-size: 17px;
}

.contenedor-prod{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 300px);
    grid-gap: 1px;
    margin-top: 3px;
}

.producto{
    border: $color4 2px solid;
    background-size: cover;
    background-position: center;
}

.productos-texto{
    color: $color4;
    background-color: $color2;
    .title-productos{
        padding: 5px 12px;
    }
    .stats-title{
        font-size: 18px;
        padding-left: 12px;
        margin-bottom: 5px;
        text-decoration: underline;
        
    }
    .lista-prod{
        font-size: 14px;
    }
    .precio-compra-prod{
        padding-left: 12px;
        span{
            font-size: 20px;
        }
        button{
            border-radius: 7px;
            background-color: $color1;
            border-radius: 5px;
            transition: background-color 0.3s ease;
            }
            button:hover {
                background-color: rgb(129, 128, 128);
            }
    }
}



@for $i from 1 through 6{
    .producto#{$i} {
        background-image: url(../multimedia/producto#{$i}.jpg);
    }
}


.buscador{
    display: flex;
    justify-content: right;
    padding: 15px 30px;
    label{
        margin-right: 10px;
    }
}

.totalgasto{
    display: flex;
    justify-content: right;
    padding: 15px 30px;
    label{
        margin-right: 10px;
    }
}

.title-contac{
    text-align: center;
    color: $color4;
    text-decoration: underline;
    margin-top: 20px;
    padding-bottom: 40px;
}

.dire-tel{
    text-align: center;
    .comunicacion{
        background-color: $color2;
        border-radius: 25px;
        text-align: center;
        display: inline-block;
        .telefonos-text{
            font-size: 25px;
            padding: 0;
            padding-left: 20px;
        }
        .direccion-text{
            font-size: 25px;
        }
    }
}



.mapa{
    display: flex;
    justify-content: center;
    padding-top: 40px;    
    iframe{
        height: 400px;
        width: 600px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(0, 0, 0, 1.1); 
    }
}


.subtit-contac{
    padding: 20px;
    text-decoration: underline;
    text-align: center;
}

.inputs{
    padding: 20px;
    text-align: center;
    label{
        display: block;
        margin-bottom: 5px;
    }
    textarea {
        width: 40%;
        padding: 8px;
        margin-bottom: 10px;
        box-sizing: border-box;
        border-radius: 5px;
    }
    .informe{
        text-align: center;
    }
    .enviar{
        padding: 5px;
        margin-left: 10px;
        border: 2px solid;
        background-color: $color2;
        padding: 10px 15px;
        border-radius: 5px;
        margin-right: 5px;
        transition: background-color 0.5s ease;
    }
}

.enviar:hover {
    background-color: $color7;
}

@media screen and (max-width: 700px) {
    .inputs textarea {
        width: 60%; /* Mantener el 40% incluso en pantallas más pequeñas */
    }
}

footer{
    background-color: $color4;
    color: $color5;
    font-size: 30px;
    text-align: center;
    padding: 20px;
        p{
        font-size: 25px;
        margin-bottom: 20px;
        animation: AparecerdeAbajo 2.5s ease-in-out; /* Aplica la animación */
        animation-iteration-count: 1;
    }
        a{
        color: $color2;
        font-size: 45px;
    }
        i{
        letter-spacing: 25px;
    }
}

// .copyright:hover{
//     transform: rotate(45deg);
// }

.redes {
    display: inline-block;
}

.logo {
    display: inline-block;
    background-size: cover;
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.5); 
}

@keyframes AparecerdeAbajo {
    0% {
        transform: translate(0, 250px);
    }
    25%{
        transform: translate(0, -30px);
    }
    50% {
        transform: translate(0, 30px);
    }
    75%{
        transform: translate(0, -30px);
    }
    100% {
        transform: translate(0, 0);
    }
}

// footer p{
//     font-size: 25px;
//     margin-bottom: 20px;
// }

// footer a{
//     color: $color2;
//     font-size: 45px;
// }

// footer i{
//     letter-spacing: 25px;
// }

@media only screen and (min-width:480px){
    .contenedor{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 300px);
    }
}

@media only screen and (min-width:768px){
    .contenedor{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 300px);
    }
}

@media only screen and (min-width:480px){
    .contenedor-prod{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(6, 300px);
    }
}

@media only screen and (min-width:768px){
    .contenedor-prod{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(6, 300px);
    }
}

@media only screen and (min-width:1024px){
    .contenedor-prod{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(3, 300px);
    }
}