@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&family=Playpen+Sans&family=Raleway:wght@300&family=Roboto:wght@300&family=Young+Serif&display=swap');

/* font-family: 'Comic Neue', cursive;
font-family: 'Playpen Sans', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Young Serif', serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    background-color: goldenrod ;
    font-size: 22px;
}

.nav-link{
    color: black !important;
}

.textarea{
    width: 300px;
    height: 150px;
    resize: none;
}

.vista{
    background-color: darkgrey;
}

.jumbotron{
    background-image: url(../multimedia/fondo.jpg);
    background-size: cover;
    background-position: center;
    height: 200px;
    padding-top: 15px;
}
.title{
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
    font-family: 'Young Serif', serif;
    color: darkorange;
    margin-top: 40px;
}

.jumbotron .subtit{
    text-align: center;
    font-family: 'Young Serif', serif;
    color: darkorange;
    margin-top: 15px;
}

.subtit{
    padding: 20px;
    text-decoration: underline;
}

.carousel{
    width: 80%;
    position: relative;
    display: flex;
    margin: auto;
}

.carousel img{
    width: 100%;
}

.carousel-control-prev, .carousel-control-next{
    background-color: darkgoldenrod;
}


.carousel-indicators button{
    background-color: #000;
    height: 20px;
}

.contenedor{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 300px);
    grid-gap: 1px;
    margin-top: 3px;
}

.consolas{
    border: #000 3px solid;
    background-size: cover;
    background-position: center;
}

/* .btn{
    background: goldenrod;
    border: solid #000 3px;
} */

.img1{
    background-image: url(../multimedia/ps5.jpg);
}


.img2{
    background-image: url(../multimedia/xbox_series_xs.jpg);
}


.img3{
    background-image: url(../multimedia/switch.webp);
}

.texto{
    color: black;
    padding: 20px;
    background-color: goldenrod;
}

.nosotros{
    margin-top: 20px;
}

.especi{
    font-size: 17px;
}

.productos{
    width: 200px;
    margin-left: 30px;
}

.buscador{
    margin-left: 1300px;
    margin-top: 23px;
}
.totalgasto{
    margin-left: 1300px;
}

.subrayado{
    text-decoration: underline;
}

.mapa{
    margin: 50px 500px;
}
#foo{
    /* background-color: gray; */
    position: absolute;
    right: 0;
    margin-right: 25px;
}

@media only screen and (min-width:480px){
    .contenedor{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 300px);
    }
}

@media only screen and (min-width:768px){
    .contenedor{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 300px);
    }
}
