@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&family=Playpen+Sans&family=Raleway:wght@300&family=Roboto:wght@300&family=Young+Serif&display=swap');

/* font-family: 'Comic Neue', cursive;
font-family: 'Playpen Sans', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Young Serif', serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    background-color: goldenrod ;
    font-size: 22px;
}

.nav-link{
    color: black !important;
}

.textarea{
    width: 300px;
    height: 150px;
    resize: none;
    margin-left: 10px;
}

main{
    background-color: darkgrey;
}

p{
    margin-bottom: 0;
    padding: 20px;
}

.jumbotron{
    background-image: url(../multimedia/fondo.jpg);
    background-size: cover;
    background-position: center;
    height: 200px;
    padding-top: 15px;
}
.title{
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
    font-family: 'Young Serif', serif;
    color: darkorange;
    margin-top: 40px;
}

.jumbotron .subtit{
    text-align: center;
    font-family: 'Young Serif', serif;
    color: darkorange;
    margin-top: 15px;
}

.subtit{
    padding: 20px;
    text-decoration: underline;
}

.carousel{
    width: 80%;
    position: relative;
    display: flex;
    margin: auto;
}

.carousel img{
    width: 100%;
}

.carousel-control-prev, .carousel-control-next{
    background-color: darkgoldenrod;
}


.carousel-indicators button{
    background-color: #000;
    height: 20px;
}

.contenedor{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 300px);
    grid-gap: 1px;
    margin-top: 3px;
}

.consolas{
    border: #000 2px solid;
    background-size: cover;
    background-position: center;
}

/* .btn{
    background: goldenrod;
    border: solid #000 3px;
} */

.img1{
    background-image: url(../multimedia/ps5.jpg);
}


.img2{
    background-image: url(../multimedia/xbox_series_xs.jpg);
}


.img3{
    background-image: url(../multimedia/switch.webp);
}

.texto{
    color: black;
    background-color: goldenrod;
}

.nosotros{
    margin-top: 20px;
}

.especi{
    font-size: 17px;
}

.contenedor-prod{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 300px);
    grid-gap: 1px;
    margin-top: 3px;
}

.productos{
    border: #000 2px solid;
    background-size: cover;
    background-position: center;
}

.img-p1{
    background-image: url(../multimedia/joystick_ps5.jpg);
}

.img-p2{
    background-image: url(../multimedia/joystick_xbox.jpg);
}

.img-p3{
    background-image: url(../multimedia/joystick_switch.jpg);
}

.img-p4{
    background-image: url(../multimedia/monitor.jpg);
}

.img-p5{
    background-image: url(../multimedia/mouse.jpg);
}

.img-p6{
    background-image: url(../multimedia/teclado.png);
}

.buscador{
    display: flex;
    justify-content: right;
    padding: 15px 30px;
}

.totalgasto{
    display: flex;
    justify-content: right;
    padding: 15px 30px;
}

.dire-tel p{
    font-size: 25px;
}

.mapa{
    display: flex;
    justify-content: center;
}

.inputs{
    padding: 20px;
}

.enviar{
    margin-left: 10px;
}

footer{
    background-color: #000;
    color: #fff;
    font-size: 30px;
    text-align: center;
    padding: 20px;
}

footer p{
    font-size: 25px;
    margin-bottom: 20px;
}

footer a{
    color: goldenrod;
    font-size: 45px;
}

footer i{
    letter-spacing: 25px;
}

@media only screen and (min-width:480px){
    .contenedor{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 300px);
    }
}

@media only screen and (min-width:768px){
    .contenedor{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 300px);
    }
}

@media only screen and (min-width:480px){
    .contenedor-prod{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(6, 300px);
    }
}

@media only screen and (min-width:768px){
    .contenedor-prod{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(6, 300px);
    }
}

@media only screen and (min-width:1024px){
    .contenedor-prod{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(3, 300px);
    }
}